/* 
* Start style here
*/
body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

:root {
    --primary: #00448F;
    --primary-hover: #0857ac;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

.top-right-option a {
    margin: 0 25px;
}

.top-right-option a:hover {
    color: var(--primary);
}

.top-menu-num-hover:hover {
    color: var(--primary-hover) !important;
}

.mobile-menu {
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.mobile-menu a {
    display: block;
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}

.mobile-menu a:hover {
    text-decoration: underline;
}

.cusotm-full-width-dropdown {
    width: calc(100% - 40px);
}

.search-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.search-bar-container {
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
}

#search-input {
    width: 100%;
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

#close-search {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#search-results {
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

span.big-screen-search-icon {
    position: absolute;
    left: 10px;
}

.custom-border-radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.custom-border-radius-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media (max-width: 768px) {
    .custom-border-radius {
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }

    .custom-border-radius-btn {
        border-top-left-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
    }
}

.tab-button.active {
    border-color: #007bff;
    color: #007bff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.fdw-footer-v2 {
    background: #0B1720;
    display: block;
    width: 100%;
    height: auto;
}

.fdw-footer-v2 ul li a {
    color: var(--light);
}

.get-proposal-btn {
    padding: 12px 24px;
    font-weight: 600;
    font-family: inherit;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -.0045em;
    color: #fff !important;
    background: #207DE9 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    white-space: nowrap;
}

.sticky-top {
    font-family: 'Inter', sans-serif;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(3, 27, 78, .1) 0 2px 4px;
}

#tabbed-content-area .tab-content {
    height: 400px;
}

.footer-section {
    color: #fff;
    margin-bottom: 20px;
}

.footer-xs-text {
    font-size: 13px;
}

.footer-margin {
    margin-bottom: 33px;
    margin-top: 20px;
}

button.btn.bth-custom-hover {
    width: 100%;
    background: #fff;
    color: #207de9;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #207de9;
    transition: .2s;
}

button.btn.bth-custom-hover:hover {
    color: #ffffff;
    background: #207de9;
}

.footer-inner-style-2 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
    align-items: flex-start;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .footer-inner-style-2 div {
        justify-content: center;
        text-align: center;
    }

}

.row.footer-inner-style {
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
    align-items: flex-start;
    border-bottom: 1px solid white;
    padding: 50px 0;
}

@media (max-width: 768px) {
    .row.footer-inner-style {
        margin: 0 50px;
    }
}

@media (max-width: 425px) {
    .row.footer-inner-style {
        margin: 0 30px;
    }

    .footer-section {
        margin-bottom: 0;
    }

}

.footer-heading {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

a.footer-option-title-2 {
    font-size: 14px;
    transition: .2s;
    margin-bottom: 15px;
    color: #fff;
}

a.footer-option-title-2:hover {
    border-bottom: 1px solid #ffff;
}

a.footer-option-title {
    font-size: 14px;
    transition: .2s;
    margin-bottom: 15px;
    color: #fff;
}

a.footer-option-title:hover {
    border-bottom: 1px solid #ffff;
}

li.custom-margin-bottom-li {
    margin-bottom: 10px;
}
.custom-margin-bottom-sm{
    margin-bottom: 5px !important;
}

.footer-heading a {
    color: #fff;
}

.footer-heading a {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #14344c;
    padding-bottom: 20px;
}

.footer-bootom {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.social-icon-footer {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

.social-icon-footer a {
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
}

@media (min-width: 768px) {
    .footer-left-ext-padding {
        padding-right: 3rem !important;
        /* Adjust the value as needed */
    }
}

.footer-left-ext-padding {
    padding-right: auto !important;
    /* Allow browser to determine padding */
}

@media (max-width: 768px) {
    .show-desktop-hide-mobile {
        display: none !important;
        /* Hide on mobile */
    }
}

@media (min-width: 769px) {
    .show-desktop-hide-mobile {
        display: block !important;
        /* Show on desktop */
    }
}

.section-title {
    text-align: center;
    margin-bottom: 70px;
}
@media (max-width: 768px) {
    .section-title {
        margin-bottom: 40px;
    }
    .section-margin-bottom{
        margin-bottom: 40px !important;
    }
    .section-padding-bottom{
        padding-bottom: 40px !important;
    }
}

.section-margin-bottom {
    margin-bottom: 70px;
}
.section-padding-bottom {
    padding-bottom: 70px;
}
.custom-border-bottom{
    border-bottom: 1px solid #ededed;
}

.location {
    text-align: left;
    padding: 10px;
}

@media (max-width: 425px) {
    .location {
        text-align: center;
    }
}

.location a {
    color: #008489;
    text-decoration: none;
    font-weight: bold;
}

.location a:hover {
    text-decoration: underline;
}

.location p {
    margin-bottom: 20px;
}

.section-col-margin {
    margin-bottom: 20px;
}

.blog-mini-txt {
    margin: 20px 0;
    color: #207de9;
    font-size: 15px;
    font-weight: 600;
}
.blog-bold-txt {
    font-size: 30px;
    font-weight: bold;
    line-height: 48px;
}
@media (max-width: 768px) {
    .blog-bold-txt{
        font-size: 25px;
    }
    .image-content{
        padding: 20px !important;
    }
    .custom-card-text{
        margin-bottom: 5px !important;
    }
}
.custom-card {
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
.card-container {
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: relative;
    transition: .3s;
    overflow: hidden;
}
.card-container:hover{
    background: rgba(0, 0, 0, 0.062);
}
.blog-bold-txt-2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.post-time {
    color: gray;
    font-size: 15px;
}
.card-padding{
    padding: 20px;
    height: 100%;
}
.card-content-container{
    height: 100%;
    padding: 30px;
}
.image-overlay{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
@media (max-width: 425px) {
    .image-overlay{
        margin-bottom: 20px;
    }
}
.image-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.445);
    opacity: 0;
    transition: .5s;
}
.image-content-help-section {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    z-index: 1;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.445);
    opacity: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.image-overlay:hover .image-content-help-section{
    opacity: 1;
}
.custom-card-text {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
}
.custom-text-white{
    color: #fff;
}
.image-overlay:hover .image-content{
    opacity: 1;
}


.portfolio-small-txt {
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

.custom-navbar {
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-navbar a {
    color: var(--secondary);
    margin: 0 10px;
    text-decoration: none;
    padding-bottom: 5px;
}
.custom-navbar a.active {
    border-bottom: 2px solid #007bff;
    color: black;
    font-weight: 600;
}

.portfolio-margin-bottom {
    margin-bottom: 20px;
    padding: 0 10px;
    position: relative;
}
.blog-section-handle {
    display: block;
    padding: 0;
}

@media (min-width: 768px) {
    .blog-section-handle {
        display: flex;
        flex-wrap: wrap;
    }
}
.icons-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
}
.icon-item {
    flex: 1 1 10%;
    min-width: 100px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    border-bottom: 2px solid #ededed;
    cursor: pointer;
}
.icon-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.icon-item p {
    margin: 0;
    font-size: 0.9em;
    color: #007bff;
}
.underline {
    width: 100%;
    border-bottom: 2px solid #007bff;
    margin-top: 20px;
    position: relative;
}
@media (max-width: 768px) {
    .icon-item {
        flex: 1 1 30%;
    }
}
@media (max-width: 480px) {
    .icon-item {
        flex: 1 1 45%;
    }
}
.icon-item-active {
    position: relative;
    border-color: #007bff;
}

.icon-item-active::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #207de9;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.review-section-title-margin{
    margin-bottom: 70px;
    text-align: center;
}
.review-card {
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review-card-body {
    max-height: 200px;
    overflow-y: auto;
}
.stars {
    color: #007bff;
}
.review-card-footer {
    font-weight: bold;
    color: #b8b8b8;
}
.card-text {
    height: 175px;
}
.review-spacing {
    padding: 0;
    margin-bottom: 33px;
  }
  
  @media (min-width: 992px) {
    .review-spacing {
      margin-bottom: 0;
    }
  }
  .location-hover:hover{
    background: rgba(0, 0, 0, 0.062);
  }

  .review-container {
    padding: 20px;
}
.review-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.review-description {
    font-size: 16px;
    margin-bottom: 20px;
}
.review-description a {
    color: #00A2FF;
    text-decoration: none;
}
.review-description a:hover {
    text-decoration: underline;
}
.review-phone-number {
    color: #00A2FF;
    font-weight: bold;
}
.review-buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.review-button {
    background-color: #FF8C00;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.review-button:hover {
    background-color: #e07b00;
}
.test-top-container {
    display: flex;
    align-items: flex-start;
}

.testimonial-card {
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
}
.testimonial-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.testimonial-icon img {
    width: 40px;
    height: 40px;
}
.testimonial-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.testimonial-text {
    font-size: 14px;
    margin-bottom: 10px;
}
.testimonial-author {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
.testimonial-icon i {
    width: 50px;
    height: 50px;
    border: 2px solid #207de9;
    color: #207de9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    background: #fff;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.all-review-section {
    align-items: center;
    margin-top: 30px;
}
@media (max-width: 425px) {
    .all-review-section {
        margin: 30px;
    }
}

.form-section, .info-section {
    padding: 40px 20px 20px 20px;
}
.form-section {
   
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.form-group input[type="submit"] {
    background-color: #007B8F;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.form-group input[type="submit"]:hover {
    background-color: #005f6b;
}
.info-section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info-section p {
    font-size: 14px;
    margin-bottom: 20px;
}
.info-section ul {
    list-style: none;
    padding: 0;
}
.info-section ul li {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.info-section ul li::before {
    content: "•";
    color: #207de9;
    font-size: 20px;
    margin-right: 10px;
}
.custom-floting-style input,
.custom-floting-style textarea {
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    outline: 0;
    padding-top: 35px !important;
    box-shadow: none !important;
}

.custom-floting-style label{
    font-weight: bold;
}
button.btn.btn-outline-primary-custom {
    color: #207de9;
    border: 1px solid #207de9;
    transition: .3s;
    margin-top: 40px;
}
button.btn.btn-outline-primary-custom:hover {
    color: #ffffff;
    background: #207de9;
}

.solutions-button:hover{
    border-bottom: 1px solid #207DE9;
    color: #207DE9;
}
.location-section {
    padding-bottom: 50px;
    border-bottom: 1px solid #ededed;
}
.locations-title {
    font-weight: bold;
}
.location-type {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: gray;
}
.locations-phone {
    color: #207de9;
}
.locations-hours-title{
    font-weight: bold;
    color: #14344c;
    margin-bottom: 10px;
}
.hours {
    margin-bottom: 8px;
    font-weight: 500;
}
a.solutions-button.location-button {
    font-size: 14px;
    font-weight: 600;
}
.location-button-container{
    margin-top: 20px;
}
a.solutions-button {
    font-weight: 600;
    font-size: 14px;
}
.testimonial-card:hover {
    background: #dddddd;
}
.map iframe{
    width: 100%;
    height: 400px;
}
@media (max-width: 767px) {
    .map iframe{
        height: 200px;
    }
    .talk-btn {
        text-align: center;
    }
}
.get-proposal-btn:hover {
    background: #0f427c !important;
}
.nav-link{
    position: relative;
}
.nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #207DE9;
    transition: .2s;
    opacity: .5;
}
.nav-link:hover::before{
    width: 100%;

}
.location-subheading {
    line-height: inherit;
}
.top-sectlion-title {
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 767px) {
    .top-sectlion-title {
        font-size: 15px;
    }
}
.custom-card-2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: .3s;
}
.custom-card-2:hover{
    background: #ededed;
}
.custom-card-2-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.custom-card-2-description {
    color: #777;
    font-size: 14px;
    margin: 10px 0 20px;
}
.custom-card-2-button {
    background-color: #e94b35;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.custom-card-2-button:hover {
    background-color: #d74130;
}
.custom-card-2-button svg {
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

.middle-space{
    margin-top: 50px;
}
.middle-space-2{
    margin-top: 80px;
}
@media (max-width: 767px) {
    .middle-space{
        margin-top: 50px;
    }
}
.row-margin-top{
    margin-top: 20px;
}
.row-padding-top{
    padding: 80px 0;
}
@media (max-width: 767px) {
    .row-padding-top{
        padding: 40px 0;
    } 
}
.custom-text-color{
    color: #207DE9;
}
.text-margin-top{
    margin-top: 40px;
}
.rotated-background-color{
    position: relative;
    z-index: 1;
}
.rotated-background-color::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFA945; /* Orange color */
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.form-container {
    padding: 20px 20px 20px 100px;
}
@media (max-width: 991px) {
    .form-container {
        padding: 20px 20px 20px 60px;
    }
}
@media (max-width: 767px) {
    .form-container {
        padding: 20px;
    }
    .rotated-background-color::after {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}


.partner-form-inputs .form-input, .form-input-half {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input-half {
    width: 48%;
    display: inline-block;
}

.form-row {
    display: flex;
    justify-content: space-between;
}
.parter-form-title {
    margin-bottom: 20px;
    font-weight: bold;
}
.profile-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-card:hover{
    background-color: #ededed;
}

.profile-picture {
    border-radius: 50%;
    object-fit: cover;
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 30px auto;
}

.linkedin-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.profile-name {
    font-weight: bold;
    color: #464646;
}
.profile-desicnation {
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}
.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.profile-icon i {
    font-size: 20px;
}
.leadershiip-title {
    text-align: center;
    margin-bottom: 70px;
}
@media (max-width: 767px) {
    .leadershiip-title {
        margin-bottom: 20px;
    }
}
.btn-center{
    text-align: center;
    margin-top: 30px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(32 125 233);
    font-weight: 500;
}

.title-margin-bottom{
    margin-bottom: 25px !important;
}
.title-margin-bottom-2{
    margin-bottom: 10px !important;
}
.excutive-summary-icon{
    text-align: center;
    margin: 20px 0;
}
.excutive-summary-icon i {
    font-size: 35px;
    color: lightseagreen;
}
.excutive-summary-text {
    text-align: center;
    font-size: 16px;
}
.custom-card-3 .card-header{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    background: #fff;
}
.custom-bg{
    background: #ededed;
}
.custom-bg-2 {
    background: var(--bs-purple);
    color: #fff;
}

.custom-bg-3 {
    background: #2998cd !important;
    color: #fff;
}
.card.custom-card-3 {
    border: 0;
}
.card.custom-card-3 .card-title {
    margin: 20px 0;
}
.custom-justify-content-center{
    justify-content: center;
}
.custom-text-center{
    text-align: center;
}
.icon-bottom-section{
    margin-bottom: 20px;
}
.content-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.content-item:last-child {
    margin-bottom: 0;
}



.section-icon-green {
    font-size: 24px;
    color: var(--success);
    margin-right: 16px;
    display: flex;
}
.challenge-section-icon {
    font-size: 24px;
    color: #e74c3c;
    margin-right: 16px;
    display: flex;
}

.content-text h2 {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px;
}

.content-text p {
    font-size: 16px;
    color: #555;
    margin: 0;
}

.quote-section{
    padding: 30px;
}
blockquote {
    font-size: 24px;
    font-style: italic;
    color: #333;
    margin: 0 0 50px;
}
.blockquote-2{
    font-size: 15px;
    font-style: normal;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-text {
    text-align: left;
    font-size: 14px;
    color: #555;
}

.profile-text strong {
    font-size: 16px;
    color: #333;
}
.consultation-icon{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.consultation-title {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.consultation-number {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
.card-custom-style {
    text-align: center;
    padding: 20px;
    border-bottom: 0;
}
.card-header.card-custom-style {
    padding: 10px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.card-header-image {
    width: 56px;
}
.card-peragraph {
    font-size: 16px;
}
.view-case-btn {
    color: #198754;
    transition: .1s;
}
.view-case-btn:hover{
    background: #198754;
    color: #ffff;
    padding: 10px;
    border-radius: 10px;
}
.custom-body-padding{
    padding: 15px;
}
.margin-x-remove{
    margin: 0;
}
.bg-image{
    background-image: url(../img/billboard-pay-per-click.jpg);
    object-fit: cover;
    width: 100%;
    min-height: 60vh;
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 80px;
}
@media (max-width: 767px) {
    .bg-image{
        padding: 40px;
    }
}
.bg-image::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.479);
    top: 0;
    left: 0;
    z-index: -1;
}
.col-md-6.video-col iframe {
    width: 100%;
    height: 300px;
}
.custom-bg-setup > .custom-background:nth-child(2) {
    background-color: #dc3545;
  }
  
  .custom-bg-setup > .custom-background:nth-child(3) {
    background-color: #0dcaf0;
  }
  
  .custom-bg-setup > .custom-background:nth-child(4) {
    background-color: #fd7e14;
  }
  .custom-background{
    padding: 10px;
  }

  .up-down-space{
    margin: 30px 0;
    text-align: center;
  }
  .up-down-space button {
    padding: 10px 20px;
}

.custom-padding-2{
    padding: 10px;
}
.custom-padding{
    padding: 50px;
}

@media (max-width: 767px) {
    .custom-padding{
        padding: 30px;
    }
}

.parallax-section-solid-color {
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.parallax-section {
    position: relative;
    background: url('../img/about.jpg') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.parallax-section-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px 20px;
    width: 100%;
}
.green-bg {
    background-color: rgb(0 20 179 / 50%);
}

.parallax-section-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.parallax-section-content p {
    font-size: 1.2em;
    margin: 10px 0;
}

.parallax-section-btn {
    background-color: #f39c12;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.parallax-section-btn:hover {
    background-color: #e67e22;
}
.modal-content{
    color: #000;
}
.pricing-form{
    background: #FFA945;
}
.pricing-form .form-container{
    padding: 20px;
}
.price-list-items{
    margin-bottom: 15px;
    display: flex;
}
.modal-header {
    background: #fff;
    z-index: 1;
}
button.parallax-section-btn {
    margin-top: 35px;
}
.small-txt{
    font-size: 14px !important;
    line-height: 24px;
}
.custom-arrow{
    position: relative;
}
.custom-arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(255, 255, 255);
    bottom: 0;
}
.custom-arrow-2{
    position: relative;
}
.custom-arrow-2::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
    top: 0;
}


.float-image {
    float: right;
    margin: 0 0 10px 20px;
    max-width: 260px; /* Adjust as needed */
    height: auto;
}

.hero-container{
    position: relative;

}
.hero-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000b5;
}
.hero-container::before {
    content: '';
    height: 200px;
    width: 100%;
    content: '';
    display: block;
    z-index: 4;
    position: relative;
    margin-top: -35vh;
    background-image: url(../img/wg.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 1000px;
    position: absolute;
    bottom: 0;
    margin-top: 0;
}
.hero-container img {
    width: 100%;
    height: 82vh;
    object-fit: cover;
}

.img-content-top{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    color: #fff;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 767px) {
    .img-content-top{
        width: 100%;
        padding: 20px;
    }
}
.custom-align-items-center{
    align-items: center;
}
.custom-bg-white{
    background: #fff;
}
.card.card-hover-effect{
    transition: .5s;
}
.card.card-hover-effect:hover .card-body,
.card.card-hover-effect:hover .card-footer,
.card.card-hover-effect:hover .card-header {
    background: #ededed;
}
.case-studie.top-section {
    text-align: center;
    background: #172329;
    color: #fff;
    padding: 60px;
    position: relative;
}
.case-studie.top-section::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #172329;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social-icon-footer i {
    transition: .3s;
}
.social-icon-footer i:hover {
    color: #FF9800;
    transform: scale(1.1);
}
/* service details */

.service-details-hero-sec{
    padding: 100px;
    background: #207de926;
}
@media (max-width: 768px) {
    .service-details-hero-sec{
        padding: 15px;
    } 
}
.hero-text-service {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #222;
    margin-bottom: 30px;
}
.show-till-md{
    display: block;
}
@media (max-width: 767px) {
    .show-till-md{
        display: none;
    }
}
.hide-till-md{
    display: none;
}
@media (max-width: 767px) {
    .hide-till-md{
        display: block;
    }
}




.service-details-flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    border-radius: 50%;
  }
  
  .service-details-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: 50%;
  }
  
  .service-details-flip-card:focus {
      outline: 0;
  }
  
  .service-details-flip-card:hover .service-details-flip-card-inner,
  .service-details-flip-card:focus .service-details-flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .service-details-flip-card-front,
  .service-details-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 24px;
  }
  
  .service-details-flip-card-front {
    background: linear-gradient(to left, #4364f7, #6fb1fc);
    color: rgb(255, 255, 255);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .service-details-flip-card-back {
    background: linear-gradient(to right, #4364f7, #6fb1fc);
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .service-details-flip-card-back h5{
    font-size: 14px;
    font-weight: bold;
  }
  .service-details-flip-card-back p{
    font-size: 11px;
    font-weight: 400;
  }

  .service-details-value {
    font-size: 40px;
    font-weight: bold;
}
p.service-details-desc {
    font-size: 13px;
}

.service-details-content-control {
    display: flex;
    flex-direction: row;
}
@media (max-width: 767px) {
    .service-details-content-control {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .service-details-testimonial{
        margin-top: 60px;
        margin-right: unset !important;
        max-width: 100% !important;
    }
}
.service-details-testimonial {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    max-width: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .service-details-testimonial {
        max-width: 300px;

    }
}

.service-details-quote {
    color: #333;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
.service-details-reviewer span {
    font-size: 13px;
    color: gray;
}
.service-details-rating span {
    font-size: 13px;
}

.service-details-reviewer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.service-details-reviewer .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

hr {
    border: none;
    border-top: 1px solid #000000;
    margin: 20px 0;
}
.custom-border-right{
    border-right: 2px solid #000;
}

.service-details-ratings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-details-rating {
    display: flex;
    align-items: center;
}

.service-details-stars {
    color: red;
    margin-right: 10px;
    font-size: 16px;
}
.col-lg-6 > .service-details-flip-card:nth-of-type(2) {
    margin-left: 40%;
    margin-top: -121px;
}
@media (max-width: 767px) {
    .col-lg-6 > .service-details-flip-card:nth-of-type(2) {
        margin-left: unset;
        margin-top: unset;
    }

    .card-rating-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
.service-details-testimonial {
    margin-right: 5%;
}
.service-info-section-header-top{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.service-details-custom-text-align{
    text-align: left;
}
@media (max-width: 767px) {
    .service-info-section-header-top{
        flex-direction: column;
    }
    .custom-border-right {
        border-right: 0;
        border-bottom: 1px solid #000;
        padding: 15px !important;
    }
    .service-details-custom-text-align{
        text-align: center;
    }
        
    
}
.service-info-section-header-txt{
    padding: 0 15px;
    font-weight: bold;
    text-align: center;
}

.service-info-section-custom-padding{
    padding: 0 100px;
}
@media (max-width: 768px) {
    .service-info-section-custom-padding{
        padding: 15px;
    }
}
.custom-link{
    border-bottom: 1px solid #000;
}
.custom-link:hover{
    border-bottom: 1px solid #007bff;
    color: #00A2FF;
}

.custom-tab-border-style {
    border-bottom: 1px solid #ededed;
    padding: 20px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.custom-tab-border-style:hover{
    color: #00A2FF;
}
.video-section {
    float: left;
    display: block;
    margin-bottom: 30px;
    width: 100%;
}
.tab-side-img img{
    float: left;
    width: 100%;
}